.form-body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}
button{
  cursor: pointer;
  display: block;
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(207, 183, 228);
  border-radius: 10px;
  border: none;
  transition:all .2s ease;
}
button:hover{
  background-color: rgb(174, 128, 216);
  color: white;
  transform: scale(1.1);
}
.parent{
  background-color: rgb(218, 244, 255);
  width: 100%;
  height: max-content;
  /* margin-top: 5px; */
}
.child {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 10px;
  background-color: white;
}
